/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

.debug {
    border: 1px solid black;
}

/* Regole FlexBox */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* Regole Header */

header {
    width: 150px;
    height: 100%;
    background-color: black;
    float: left;
}

#logo {
    text-align: left;
}

#logo img {
    width: 130px;
}

#favicon {
    display: none;
}

.navbar-bottom {
    height: 80px;
    background-color: black;
}

.navbar-top {
    height: calc(100% - 150px);
    position: relative;
}

.install-link {
    color: #717171;
    border-bottom: 2px solid #717171;
}

.user {
    color: #717171;
}

#playlist {
    background-color: black;
    color: #717171;
    overflow-y: scroll;
}

#main-nav {
    background-color: black;
}

#main-nav ul li {
    color: #717171;
}

#main-nav ul li i {
    font-size: 25px;
}

#main-nav ul li:first-child {
    color: white;
}

main {
    background-color: #141922;
    overflow-y: scroll;
    height: 100%;
    /* float: left; */
}

header::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    height: 100px;
    width: 100%;
    background-color: #080b12;
    opacity: 0.9;
}

#upgrade {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    float: right;
    padding: 10px 30px;
    margin: 30px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 15px;
}

#upgrade::after {
    content: '';
    display: table;
    clear: both;
}

/* Parte centrale */

/* Barra di navigazione tags */
#main-tags {
    height: 50px;
    background-color: #141922;
    text-align: center;
}

#main-tags ul {
    margin: 15px 0;
}

#main-tags ul li {
    display: inline-block;
    color: #717171;
    text-transform: uppercase;
}

/* .content {
    height: 400px;
    width: 100%;
} */

/* Cover Gallery */
.cover {
    width: 200px;
    background-color: #141922;
    margin: 0 12px;
    align-items: center;
}

.cover img {
    width: 100%;
}

.title {
    color: white;
}

/* Riprodotti di recente */
#recently-played {
    background-color: #141922;
}

/* Scelti per te */
#for-you {
    background-color: #141922;
}

/* Più popolari */
#popular {
    background-color: #141922;
}

.artist {
    width: 200px;
    height: 200px;
    margin: 0 12px;
}

.artist img {
    border-radius: 50%;
}

.song-info {
    align-items: center;
}

/* Regole footer */
footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    justify-content: space-between;
}

#play-now {
    width: 200px;
    justify-content: space-between;
}

#player {
    width: 500px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#player-buttons {
    justify-content: space-around;
}

#player-buttons i {
    width: 40px;
}

#player-nav {
    width: 100%;
    justify-content: space-around;
}

#player-bar {
    width: 70%;
    background-color: #717171;
    border-radius: 10px;
    height: 5px;
    align-self: center;
}

#player-bar-now {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

#player-options {
    width: 200px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#volume-bar {
    width: 60%;
    background-color: #717171;
    border-radius: 10px;
    height: 5px;
}

#volume-now {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

#play-info {
    width: 45%;
    align-items: center;
}

#play-icon {
    width: 45%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    color: #717171;
}

#play-now-cover {
    height: 40px;
    width: 60px;
    background-color: brown;
}

#play-now-song span {
    font-size: 12px;
}

/* Responsive */
@media screen and (max-width: 767px) {
    h1 {
        color: red;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .cover {
        width: 20%;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        color: green;
    }

    .cover {
        width: 40%;
    }

    .artist {
        width: 40%;
    }

    #play-icon {
        flex-direction: column;
    }
}

@media screen and (max-width: 424px) {
    h1 {
        color: yellow;
    }

    header {
        width: 40px;
    }

    #logo, #playlist {
        display: none;
    }

    #favicon {
        display: block;
        filter: invert();
    }

    #main-nav ul li span {
        display: none;
    }

    #install span {
        display: none;
    }
}