/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

.debug {
    border: 1px solid black;
}

/* Regole FlexBox */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* Regole Header */

header {
    width: 150px;
    height: 100%;
    background-color: black;
    float: left;
    position: relative;
    z-index: 10;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    text-align: left;
}

#logo img {
    width: 130px;
}

#favicon {
    display: none;
}

/* Regole navbar */

.navbar-bottom {
    height: 100px;
    background-color: black;
}

.navbar-top {
    height: calc(100% - 180px);
    position: relative;
}

#main-nav {
    margin-bottom: 15px;
    background-color: black;
}

#main-nav ul li {
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
    color: #717171;
}

#main-nav ul li:hover {
    color: white;
}

#main-nav ul li img {
    width: 30px;
    padding-right: 5px;
}

.select::before {
    content: "";
    display: inline-block;
    border-left: 2px solid green;
    height: 25px;
}

#main-nav ul li:first-child {
    color: white;
}

#playlist {
    background-color: black;
    color: #717171;
    overflow-y: scroll;
}

#playlist h2 {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.playlist-btn {
    font-weight: bold;
    font-size: 12px;
}

.playlist-btn i:hover, .playlist-btn span:hover {
    color: white;
}

.playlist-btn i {
    font-size: 30px;
}

.playlist-btn ul li {
    padding: 5px 0;
}

.playlist-btn ul li:hover {
    color: white;
}

.playlist-btn ul {
    padding-top: 5px;
}

.install-link {
    color: #717171;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

.install-link:hover {
    color: white;
}

.user {
    text-align: left;
}

.user img {
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
}

.user span {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

.break {
    margin: 8px auto;
    border-bottom: 1px solid gray;
    color: #717171;
    width: 90%;
}

/* Regole main e aside */

main {
    background-color: #141922;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 150px;
}

aside {
    height: 100px;
    width: 100%;
    background-color: #080b12;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
}

#upgrade {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    float: right;
    padding: 10px 30px;
    margin: 30px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 15px;
}

#upgrade:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#upgrade::after {
    content: '';
    display: table;
    clear: both;
}

/* Parte centrale */

/* Barra di navigazione tags */
#main-tags {
    height: 50px;
    background-color: #141922;
    text-align: center;
    margin-top: 120px;
}

#main-tags ul {
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
}

#main-tags ul li {
    display: inline-block;
    color: #717171;
    text-transform: uppercase;
    padding: 0 10px;
}

#main-tags ul li:hover {
    color: white;
    cursor: pointer;
}

.highlight::after {
    content: '';
    border-bottom: 2px solid green;
    display: block;
    margin: 0 30px;
}

/* .content {
    height: 400px;
    width: 100%;
} */

/* Cover Gallery */
h1 {
    color: white;
    margin: 20px 0;
    padding-left: 15px;
}

h3 {
    color: #717171;
    margin: 20px 0;
    padding-left: 15px;
}

.cover {
    width: 200px;
    background-color: #141922;
    margin: 0 12px;
    align-items: center;
    position: relative;
}

.cover img {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 85%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.overlay i {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover:hover .overlay {
    display: block;
}

.title {
    color: white;
}

/* Riprodotti di recente */
#recently-played {
    background-color: #141922;
    padding-left: 15px;
}

/* Scelti per te */
#for-you {
    background-color: #141922;
    padding-left: 15px;
}

/* Più popolari */
#popular {
    background-color: #141922;
    padding-left: 15px;
}

.artist {
    width: 200px;
    height: 200px;
    margin: 0 12px;
}

.artist img {
    border-radius: 50%;
}

.song-info {
    align-items: center;
}

/* Regole footer */
footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 10;
    justify-content: space-between;
}

#play-now {
    /* width: 200px; */
    justify-content: space-between;
    padding: 0 10px;
}

#play-now-cover, #play-now-song {
    padding: 0 10px;
}

#play-now-cover img {
    width: 60px;
    margin-left: 5px;
}

#play-now-song span {
    font-size: 12px;
    font-weight: bold;
    color: #717171;
}

#play-now-song .play-song {
    font-size: 10px;
}

#play-now-song .play-artist {
    color: white;
}

#play-now-song .play-song:hover {
    color: white;
}

#play-info {
    /* width: 45%; */
    align-items: center;
}

#play-icon {
    /* width: 45%; */
    justify-content: center;
    align-items: center;
    color: #717171;
}

#play-icon i {
    padding: 0 5px;
}

#play-icon i:hover {
    color: white;
}

#player {
    width: 500px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#player-buttons {
    justify-content: space-around;
}

#player-buttons i {
    width: 40px;
}

#player-buttons .fa-play-circle {
    font-size: 25px;
}

#player-buttons .fa-play-circle:hover {
    transform: scale(1.5);
}

#player-nav {
    width: 100%;
    justify-content: space-around;
}

#player-bar {
    width: 70%;
    background-color: #717171;
    border-radius: 10px;
    height: 5px;
    align-self: center;
}

#player-bar-now {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

#player-bar-now:hover {
    background-color: green;
}

.play-tab {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    align-self: center;
    display: none;
}

#player-bar-now:hover + .play-tab {
    display: block
}

#volume-now:hover {
    background-color: green;
}

#volume-now:hover + .play-tab {
    display: block;
}

#player-options {
    width: 200px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#player-options i {
    padding: 0 10px;
}

#volume-bar {
    width: 60%;
    background-color: #717171;
    border-radius: 10px;
    height: 5px;
    margin-right: 5px;
}

#volume-now {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    justify-content: flex-start;
}

/* Responsive */
@media screen and (max-width: 767px) {
    h1 {
        color: red;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .cover {
        width: 20%;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        color: green;
    }

    .cover {
        width: 40%;
    }

    .artist {
        width: 40%;
    }

    #play-icon {
        flex-direction: column;
    }
}

@media screen and (max-width: 424px) {
    h1 {
        color: yellow;
    }

    header {
        width: 40px;
    }

    #logo, #playlist {
        display: none;
    }

    #favicon {
        display: block;
        filter: invert();
    }

    #main-nav ul li span {
        display: none;
    }

    #install span {
        display: none;
    }
}