/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 15%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

footer {
    height: 100px;
    width: 100%;
    background-color: grey;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

main {
    width: 100%;
    background-color: lightblue;
}

aside {
    height: 100px;
    width: 100%;
    background-color: darkblue;
}

#main-tags {
    border: 1px solid black;
    height: 50px;
    background-color: green;
}

.content {
    border: 1px solid black;
    height: 400px;
    width: 100%;
}

#recently-played {background-color: gold;}
#for-you {background-color: silver;}
#popular {background-color: brown;}

#install {
    height: 50px;
    width: 15%;
    background-color: red;
    position: fixed;
    bottom: 100px;
    left: 0;
    z-index: 7;
}

#playlist {
    width: 15%;
    height: 200px;
    background-color: purple;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 8;
}

#main-nav {
    width: 15%;
    height: 150px;
    background-color: violet;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}